/* General Use Start */

body
{
    background-color: rgb(128, 96, 50);
}

.footer-promo-bar
{
    background-color: #1e2c20;
    color: white;
    text-align: center;
    padding: 1rem;
}

h1{
    font-size: 60px;
    font-weight: bold;
}

h2{
    font-size: 36px;
    font-weight: bold;
}

h3{
    font-size: 40px;
    font-weight: bold;
}

h4{
    font-size: 48px;
}

h5{
    font-size: 20px;
}

p
{
    font-size: 18px;
}

button
{
    width: 159px;
    height: 42px;
    font-size: 16px;
    border: 1px;
    border-color: #292828;    
}

.border-round
{
    border-radius: 10px;
}

.center
{
    display: flex;
    justify-content: center;
}

/* General Use End */

                                        /* Navbar Start */
.logo
{
    color: #FB5108;
}
                                        /* Navbar End */

/* Hero Image Start */
@media (max-width: 450px)
{
   .heroImage
   {
    width: auto;
   }

}

/* Hero Image End */

                                                        /* Start Cooking Start */
.start-cooking-image
{
    object-fit: cover;
}

.flex-container
{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    gap: 44px;
}

.cooking-text
{
    padding-top: 1rem;
}





                                                            /* Start Cooking End */

/* New Arrivals Start */

.arrivals-images
{
    width: 800px;
    height: 632px;
    object-fit: cover; 
}

/* New Arrivals End */

/* Best Sellers Start (grid) */

.myCard
{
    width: 497px;
    height: 625px;
    border: 1px #1e2c20;
    border-style: solid;
    border-radius: 10px;
}

.card-content
{
    padding: 1rem;
}

.card-button
{
    margin: 2rem 0rem 0rem 1rem;
}
/* .best-sellers-container
{
    width: auto;
} */

.best-sellers-grid
{
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (2, 1fr);
    gap: 24px;
    min-height: 100vh;
}

/* Best Sellers End (grid) */


/* Reviews Start (grid)  */


/* Reviews End (grid)  */